/*.AT{
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: 352px;
    overflow: auto;

}
.AT1{
    background-color: #f87171;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 8px;
}
.AT2{
    background-color: #4ade80;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 8px;
}
.AT3{
    background-color: #60a5fa;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 8px;
}
.AT4{
    background-color: #facc15;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 8px;
}
.AT5{
    background-color: #c084fc;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 8px;
}*/

.eCont{
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.eHead{
    background-color: #4A102A;
    margin-bottom: 8px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
}

.eHead h2,
.eHead h3,
.eHead h5{
    width: 20%;
}

.empR{
    border: 2px solid white;
    margin-bottom: 8px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
}

.empR h2{
    width: 20%;
}

.empR h3{
    width: 20%;
    color: #FCF259;
}

.empR .st{
    width: 20%;
    color: #4A102A;
}

.empR .comple{
    width: 20%;
    color: #85193C;
}

.empR .failed{
    width: 20%;
    color: #C5172E;
}